/nbproject/private/
/build/
/dist/
/HardisGestionClient-war/nbproject/private/
/HardisGestionClient-war/build/
/HardisGestionClient-war/dist/
/HardisGestionClient-ejb/nbproject/private/
/HardisGestionClient-ejb/build/
/HardisGestionClient-ejb/dist/