
h1{
	color:#3c3c3d;
}
mybtn{
    padding-left: 500px;
    padding-right: 500px;
    background-color: red;
}
.right{
    float:right;
}
.center{
    float:center;
}
.myborders{
    border-style: solid;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
.nopad{
    padding:0px;
}
.menuBox{
    min-height: 50px;
    min-width: 150px; 
}


