.red {
	height: 200px;
	background-color:white;
}
h1{
	color:#3c3c3d;
}
mybtn{
    padding-left: 500px;
    padding-right: 500px;
    background-color: red;
}
.right{
    text-align: right;
}
.center{
    align-content: center;
}

